<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit.ejs</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 ">
        <h2 class="text-white text-3xl p-10 ">Edit section</h2>
        <div class="form  p-10 text-white -mt-4 ">
            <form action="/edit" method="post" class="flex flex-col">
             <input type="text" name="prev" class="rounded-lg px-5 py-2 bg-zinc-700 w-1/4 outline-none" placeholder="previous name" value="<%=filename%>">
             <input type="text" name="new" class="rounded-lg px-5 py-2 bg-zinc-700 w-1/4 outline-none mt-3" placeholder="new name">
             
             <input type="submit" value="update name" class="bg-yellow-500 mt-2 p-2 rounded-lg w-64">
            </form>
     </div>
     <div class="form  px-10 -mt-10  text-white  ">
        <!-- <form action="/edit" method="delete" class="flex flex-col">
<button type="submit" class="bg-red-600  mt-2 p-2 rounded-lg w-64" >Delete file</button>
        </form> -->
        <form action="/edit/<%= filename %>"  method="POST">
            <button type="submit" class="bg-red-600  mt-2 p-2 rounded-lg w-64 text-center">Delete</button>
        </form>
     </div>> 
        <div></div>
     

    </div>
</body>
</html>