<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen p-10 bg-zinc-900">
        <a href="/" class="text-white rounded-2xl py-2  px-3 bg-blue-900 text-center">go back</a>
        <h2 class="text-white mt-14 text-3xl "><%=filename%></h2>
        <p class="text-white mt-3 "><%=filedata%></p>
    </div>
    <div></div>
</body>
</html>